<!--<select multiple class="form-control " name="fea" ngModel size="3" [(ngModel)]="selectedFeatures">
    <option *ngFor="let feature of features" [ngValue]="feature">
         {{ feature.name }}
    </option>
  </select>
  
  <div>selectedFeatures:-</div>
  <p *ngFor="let selection of  selectedFeatures">{{selection.name}}</p>-->

  <h1>Teste dois</h1>