<!--<section class="property-binding">

   <article>
        <h3>Interpolação</h3>
        <p> String renderizada: {{ url }} </p>
        <p>Resultado de 1 + 1 {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p>Curso Angular {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Imagem</h3> 

        <img src="{{urlImage}}">

        <br>

        <img [src]="urlImage">
    </article>

 <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-sucess">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Atenção</option>
                <option value="alert-danger">Danger</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme o valor informado.
            </div>

              <div class="alert" role="alert" [class.alert-sucess]="classe.value == 'alert-sucess' ">
                Um simples alerta success. Olha só!
              </div>
              <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info' ">
                Um simples alerta danger. Olha só!
              </div>
              <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning' ">
                Um simples alerta warning. Olha só!
              </div>
              <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger' ">
                Um simples alerta info. Olha só!
              </div>

              <div class="alert alert-danger" role="alert" 
              [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
                Um simples alerta info. Olha só!
              </div>
        </div>
    </article>




</section>-->

<section class="event-binding">
    <article>
      <h3>
        Event Binding
      </h3>

      <div>
        <button (click)="botaoClicado()" class="btn btn-primary"> Me Clique! </button>
      </div>

      <br>
      <br>

      <input type="text" (keyup)="onKeyUp($event)" 
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput />

      <h4>Valor atual: {{ valorAtual }}</h4>
      <h4>Valor Salvo: {{ valorSalvo }}</h4>

      <br>

      <span (mouseover)="onMouseOverOut()"
            (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver"
            >
        Passe o mouse sobre mim
      </span>
    </article>
</section>
